body {
    background: url(https://i.pinimg.com/originals/cc/fc/14/ccfc14e082b652d3547742da3a0863c6.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
}